*{margin:0;padding:0;}
.wrapper{
  width: 100%;
  padding:20px;
  box-sizing:border-box;
}
#source {
  width:100%;
  height: 100px;
}
textarea{
  width:100%;
  height: 300px;
}
#result,
#result td {
  border: 1px solid #000;
}
